


<div class="app-navigation">
        <div class="navigation-holder">
            <a href="/" class="navigation-link"><span><img src="http://uodaartexhibition2015.ml/anual-art-exhibition-logo-horizontal.svg" class="toplogo" alt="Exhibition Logo"></span></a>
            <a href="/" class="navigation-link"><span><i class="fa fa-home" aria-hidden="true"></i> Home</span></a>
            <a href="/page/2" class="navigation-link"><span> 2</span></a>
            <a href="/page/3" class="navigation-link"><span> 3</span></a>
            <a href="/page/4" class="navigation-link"><span> 4</span></a>
            <a href="/most-viewed" class="navigation-link "><span><i class="fa fa-bar-chart" aria-hidden="true"></i> Most Viewed</span></a>
            <a href="/about" class="navigation-link "><span><i class="fa fa-info-circle" aria-hidden="true"></i> About</span></a>
        </div>
    </div>






<div class="app-navigation-mobile">
        <div class="navigation-holder">
            <a href="/" class="navigation-link"><span><img src="http://uodaartexhibition2015.ml/anual-art-exhibition-logo-horizontal.svg" class="toplogo" alt="Exhibition Logo"></span></a>
            <a href="/" class="navigation-link"><span><i class="fa fa-home" aria-hidden="true"></i></span></a>
            <a href="/page/2" class="navigation-link"><span> 2</span></a>
            <a href="/page/3" class="navigation-link"><span> 3</span></a>
            <a href="/page/4" class="navigation-link"><span> 4</span></a>
            <a href="/most-viewed" class="navigation-link "><span><i class="fa fa-bar-chart" aria-hidden="true"></i></span></a>
            <a href="/about" class="navigation-link "><span><i class="fa fa-info-circle" aria-hidden="true"></i></span></a>
        </div>
    </div>




