<div class="w3-center">
<div class="pagination">
  <a href="/" <%if (active =='/') {%>  class="active"  <%}%>>1</a>
  <a href="/page/2" <%if (active =='/page/2') {%>  class="active"  <%}%>>2</a>
  <a href="/page/3" <%if (active =='/page/3') {%>  class="active"  <%}%>>3</a>
  <a href="/page/4" <%if (active =='/page/4') {%>  class="active"  <%}%>>4</a>

</div>
</div>
